<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/aos-master/dist/aos.css">

</head>

<body class="bg-light">
    <header class="menu_header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid container-lg">
                <a class="navbar-brand" href="#">Angkor Stor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#toggle_menu"
                    aria-controls="toggle_menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="toggle_menu"
                    aria-labelledby="toggle_menuLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="toggle_menuLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn_cart btn btn-primary position-relative"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                    aria-controls="offcanvasRight">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span id="cartamount"
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        0
                                    </span>
                                </button>
                            </li>
                        </ul>
                        <div class="pb-4 pb-lg-0">

                        </div>
                        <ul class="header_social_media">
                            <li>
                                <a href="tel:0889820067"><i class="fa-solid fa-phone-volume"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa-brands fa-telegram"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa-brands fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel" style="width: 500px;">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title text-center">My Cart</h5>
                <button type="button" class="btn-close" data-bs-toggle="offcanvas" data-bs-target="#toggle_menu"
                    aria-controls="toggle_menu" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h4 id="label"></h4>
                <div class="hoppingcart" id="hoppingcart">

                </div>

            </div>

            <div class="offcanvas-footer border-top p-3 bg">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <div class="d-flex justify-content-center text-white align-items-center gap-4">
                        <h3 class="mb-0 text-center fonts-r">Total Bill</h3>
                        <p id="total-price" class="total-price fw-bold mb-0"></p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-block fonts-r">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="banner">
        <div style="background: url(../assets/images/header-background.jpg);height: 70vh; width: 100%;"></div>
    </section>
    <div class="container-fluid container-lg">
        <div class="row mt-5 pt-5">
            <h1>
                Modern Sunglasses
            </h1>
            <h2>
                The latest fashion trends in sunglasses
            </h2>
            <h3>
                Explore our collection of stylish and high-quality sunglasses for men and women.
            </h3>
            <h4>
                Shop now and get 10% off your first purchase!
            </h4>
            <h5>
                Shop now and get 10% off your first purchase!
            </h5>
            <h6>
                Shop now and get 10% off your first purchase!
            </h6>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto amet autem voluptate saepe nihil id
                commodi hic, necessitatibus repellendus odit pariatur ad eos, dolorem culpa minima eligendi, accusamus
                ab totam repudiandae error cupiditate fugiat distinctio voluptas laboriosam. Sapiente inventore harum
                voluptatem doloremque adipisci delectus sed iusto eos tempora hic, nulla perspiciatis excepturi nostrum
                est modi reprehenderit consequatur, omnis consectetur incidunt itaque autem? Adipisci delectus optio
                placeat quam explicabo! Officia porro, tempore quia libero nesciunt nobis accusamus temporibus,
                doloribus delectus voluptatum cupiditate totam magnam quibusdam id omnis ea tenetur necessitatibus
                ipsum. Nostrum similique illo odit perspiciatis ea at veritatis, fugit libero.
            </p>
        </div>
        <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <p>
                ab totam repudiandae error cupiditate fugiat distinctio voluptas laboriosam. Sapiente inventore harum
                voluptatem doloremque adipisci delectus sed iusto eos tempora hic, nulla perspiciatis excepturi nostrum
                est modi reprehenderit consequatur, omnis consectetur incidunt itaque autem? Adipisci delectus optio
                placeat quam explicabo! Officia porro, tempore quia libero nesciunt nobis accusamus temporibus,
                doloribus delectus voluptatum cupiditate totam magnam quibusdam id omnis ea tenetur necessitatibus
                ipsum. Nostrum similique illo odit perspiciatis ea at veritatis, fugit libero.
            </p>
        </div>
    </div>


    <div class="container-fluid container-lg">
        <h2 class="text-center mb-5 fw-bolder">All Products</h2>
        <div class="row shop" id="shop"></div>
        <!-- <div class="row" id="show"></div> -->
    </div>

    <div class="preloader-wrapper">
        <div class="preloader">
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.js"></script>
    <script src="../assets/aos-master/dist/aos.js"></script>
    <script src="../assets/js/data.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>